body {
    background: #dddddd;
    overflow: hidden;
}
@media screen and (max-width: 800px) {
    
}
.container {  /*to manage text on canvas and webgl */
    position: relative;
    border: thin inset #000000;
    margin: 5vh    auto;
    max-width: 90vh;
    max-height: 90vh;
}
#my_Canvas {
    margin: 2.5%;
    width: 95%;
    height: 95%;
    position: relative;
    padding: 0px;
    background-color: #ffffff;
    border: thin inset #aaaaaa;
}
#text { /*to manage text on canvas and webgl */
    background-color: transparent;  /* needed because we setcanvas bg color to white */
    position: absolute;
    top: 4%;
    left: 4%;
    max-width: fit-content;
    width: 80%;
    z-index: 10;
}